/* General setup */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robotoitalic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
}



/* Typography */
#sidebar {
    background-color: rgb(0, 138, 230);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* border: 5px solid black; */
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 40vh;
}

@media (max-width: 1439px) {
    #sidebar {
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
}

.sidebar-text {
    justify-self: start;
    align-self: center;
    grid-column: 2 / 3;
}

#dashboard-text {
    font-size: 2rem;
}

.sidebar-icon {
    justify-self: center;
    align-self: center;
    width: 2rem;
    height: auto;
    grid-column: 1 / 2;
}

#dashboard-icon {
    width: 4rem;
    height: auto;
}

.sidebar-icon path {
    fill: white;
}






#header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 1.5rem 3rem;
    gap: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    /* max-height: 20vh; */
    /* self note: remove or comment out height properties like this so height becomes more responsive */
}

#header #top-left {
    display: grid;
    grid-template-columns: auto 0.9fr;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.header-icon {
    width: 2rem;
    height: auto;
}

#search-input-field {
    background-color: rgb(218, 221, 232);
    border: none;
    border-radius: 15px;
    padding: 0.8rem 0.5rem;
}

#header #top-right {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: end;
    align-items: center;
}

#styled-cat-image-top-right {
    width: 4.5rem;
    height: auto;
}

#morgan-oatley-top-right {
    font-size: 1.3rem;
    font-weight: bold;
}

#header #bottom-left {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

#styled-cat-image-bottom-left {
    width: 6rem;
    height: auto;
}

#hi-there-text {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#morgan-oatley-bottom-left {
    font-size: 2rem;
    font-weight: bold;
}

#header #bottom-right {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.header-button {
    background-color: rgb(0, 138, 230);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 1rem 3rem;
}

.header-button:hover {
    background-color: rgb(0, 45, 75);
}




#article {
    background-color: rgb(218, 221, 232);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* border: 5px solid black; */
    padding: 3rem 3rem 5rem 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    /* max-height: 80vh; */
    /* self note: remove or comment out height properties like this so height becomes more responsive */
}

.article-header-text {
    font-size: 1.4rem;
    font-weight: bold;
}

#projects-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.projects-card {
    background-color: white;
    border: none;
    border-radius: 10px;
    border-left: 10px solid rgb(255, 181, 45);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 2rem 1.5rem;
    gap: 0.5rem;
}

.projects-card .card-header {
    font-size: 1.3rem;
    font-weight: bold;
    display: grid;
    align-content: end;
}

.projects-card .card-body {
    color: rgb(105, 105, 105);
}

.projects-card .card-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.projects-card .card-footer .article-icon {
    width: 2rem;
    height: auto;
}

#announcements-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#announcements-grid {
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.announcements-card {
    display: grid;
    padding: 1.5rem 0;
}

.announcements-card .card-header {
    display: grid;
    align-content: end;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.announcements-card .card-body {
    color: rgb(105, 105, 105);
}

.announcements-card#grey-border-bottom {
    border-bottom: 2px solid lightgrey; 
}

#trending-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

#trending-grid {
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    gap: 1.5rem;
}

.trending-card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
}

.trending-section-image {
    width: 4rem;
    height: auto;
}

.trending-text-container {
    display: grid;
    gap: 0.4rem;
}

.trending-project-name {
    color: rgb(105, 105, 105);
}

